/* QWidget ---------------------------------------------------------------- */

QWidget {
    font-family: 'terminal';
    font-size: 12px;
    background-color: #000000;
    border: 0px solid #32414B;
    padding: 0px;
    color: #F0F0F0;
    selection-background-color: #1464A0;
    selection-color: #F0F0F0;
}

QWidget:disabled {
    background-color: #19232D;
    color: #787878;
    selection-background-color: #14506E;
    selection-color: #787878;
}

QWidget:item:selected {
    background-color: #1464A0;
}

QWidget:item:hover {
    background-color: #148CD2;
    color: #32414B;
}

/* QGroupBox -------------------------------------------------------------- */

QGroupBox {
    border-color: #00FFFF;
    border-style: double;
    border-width: 6px;
    border-radius: 0px;
    padding: 4px;
    margin: 4;
    /* margin-top: 0px; */
}

QGroupBox::title {
    font-family: 'terminal';
    font-size: 24px;
    subcontrol-origin: margin;
    subcontrol-position: center top;
    /* left: 3px; */
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 4px;
}

/* QTextEdit--------------------------------------------------------------- */

QLabel {
    background-color: #000000;
    color: #ffffff;
    border-color: #ffffff;
    border-style: solid ;
    border-width: 0px;
    border-radius: 0px;
    /* margin: 16px; */
    padding: 0px;
}


/* QTextEdit--------------------------------------------------------------- */

QTextEdit {
    background-color: #000000;
    color: #ffffff;
    border-color: #ffffff;
    border-style: solid ;
    border-width: 2px;
    border-radius: 0px;
}
